/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../../components/variables.css';

.ContentPage-container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}
