@import '../variables.css';

.Arrows-arrows {
  float: right;
  position: relative;
  left: -10px;
}

.Arrows-arrows_left,
.Arrows-arrows_right {
  display: inline-block;
  background-color: var(--blue);
  width: 7px;
  height: 2px;
  border-radius: 2px;
  position: relative;
  transition: all var(--swift-out);
  bottom: 3px;
}

.Arrows-arrows_left {
  transform: rotate(45deg);
  left: 8px;
}

.Arrows-arrows_right {
  transform: rotate(-45deg);
  left: 5px;
}

.Arrows-container:hover .Arrows-arrows_left {
  transform: rotate(225deg);
}

.Arrows-container:hover .Arrows-arrows_right {
  transform: rotate(-225deg);
}

.Arrows-container:active .Arrows-arrows_left {
  transform: rotate(315deg);
}

.Arrows-container:active .Arrows-arrows_right {
  transform: rotate(-315deg);
}
