@import '../variables.css';

.ContextMenu {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 60px;
  position: fixed;
}

.ContextMenu-item {
  transition: all var(--ease);
  background-color: white;
  cursor: pointer;
}

.ContextMenu-item:hover {
  background-color: var(--gray-light);
}
