@import '../variables.css';

.Menu-line {
  height: 45px;
  background-color: var(--blue-menu);
  box-shadow: inset 0 1px var(--blue-menu), inset 0 2px #6eb9e3;
}

.Menu-container {
  margin: 0 auto;
  max-width: var(--max-content-width);
  text-align: left;
}

.Menu-button {
  display: inline-block;
  height: 45px;
  padding: 0 20px;
  transition: all var(--swift-out);
  cursor: pointer;
  box-shadow: inset 0 1px var(--blue-menu), inset 0 2px #6eb9e3;
  text-decoration: none;
}

.Menu-button:hover {
  background-color: var(--blue-menu-hover);
}

.Menu-button_text {
  line-height: 45px;
  font-size: 14px;
  color: #fff;
}
