@import '../variables.css';

.Localize-container {
  display: table;
}

.Localize-select {
  border: none;
  border-bottom: 2px var(--blue) dashed;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  color: var(--blue);
  font-size: 13px;
}

.Localize-select::-ms-expand {
  display: none;
}
