@import '../variables.css';

.User-container {
  display: inline-block;
}

.User-greeting,
.User-name,
.User-arrows {
  display: inline-block;
  margin: 0;
  color: var(--gray);
  font: 400 13px / 30px Ubuntu;
}

.User-name {
  border-bottom: 2px var(--blue) dashed;
  color: var(--blue);
  cursor: pointer;
  margin: 0 4px;
  line-height: 12px;
  font: 500 13px Ubuntu;
}

.User-contextMenu {
  transition: all var(--ease);
  opacity: 0.0;
}

.User-container:hover .User-contextMenu {
  opacity: 1.0;
}

.User-messages-container {

}

.User-messages,
.User-messages-count {
  display: inline-block;
  color: #cb3b3a;
  font: 500 13px Ubuntu;
}

.User-messages-count {
  margin-left: 4px;
}
