@import '../variables.css';

.FooterContent-text {
  color: var(--gray-cr);
  line-height: 25opx;
}

.FooterContent-text--muted {
  color: var(--gray);
}

.FooterContent-spacer {
  color: var(--gray);
}

.FooterContent-text,
.FooterContent-link {
  padding: 2px 5px;
  font-size: 1em;
}

.FooterContent-link,
.FooterContent-link:active,
.FooterContent-link:visited {
  color: var(--blue);
  text-decoration: none;
}

.FooterContent-link:hover {
  text-decoration: underline;
}

.FooterContent-copyright {
  margin-top: 20px;
}
