/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../../components/variables.css';

.RegisterPage {
  text-align: center;
}

.RegisterPage-header {
  font-weight: 100;
  color: var(--gray);
}

.RegisterPage-container {
  margin: 0 auto 50px;
  padding: 15px 80px 15px 0px;
  background-color: var(--gray-light);
  max-width: var(--max-content-width);
  text-align: center;
}

.RegisterPage-field {
  height: 45px;
  padding: 7px 0;
}


.RegisterPage-cr-label {
  width: 4em!important;
}

.RegisterPage-cr-container {
  display: inline-block;
  padding: .5em .6em;
  width: 355px;
  height: 45px;
  text-align: left;
}

.RegisterPage-input {
  height: 45px;
  width: 355px;
  background-color: var(--gray-input);
  border: none!important;
  border-radius: 0!important;
}

.RegisterPage-input:valid {
  box-shadow: inset 0 0 10px rgba(174, 229, 176, 1) !important;
  border: 1px solid rgba(174, 229, 176, 1) !important;
}

.RegisterPage-input_cr {
  height: 25px;
  width: 25px;
}

.RegisterPage-question {
  position: relative;
}

.RegisterPage-question-alert {
  position: absolute;
  top: 6px;
  right: 0;
  color: var(--red);
}

.RegisterPage-field-input {
  max-width: 252px;
}

.RegisterPage-field-input-label {
  position: relative;
  bottom: 3px;
}

.RegisterPage-captcha {
  position: relative;
  left: 380px;
  top: 10px;
  padding-bottom: 30px;
  width: 304px !important;
}

.RegisterPage-submit {
  height: 45px !important;
  width: 355px !important;
  background-color: var(--blue-menu) !important;
  border-bottom: 5px solid var(--blue-menu-hover) !important;
  transition: var(--ease) all;
}

.RegisterPage-submit:hover {
  border-bottom: 0px solid var(--blue-menu-hover) !important;
}