.Logo-container {
  display: inline-block;
}

.Logo-name,
.Logo-description {
  display: inline-block;
  margin: 0;
}

.Logo-name {
  text-transform: uppercase;
  color: #666;
  font-size: 60px;
  font-weight: 100;
  line-height: 40px;
}

.Logo-description {
  color: #b3b3b3;
  font-weight: 100;
  width: 230px;
  line-height: 25px;
  font-size: 20px;
  margin-left: 20px;
}
