@import '../variables.css';

.Social-container {
  display: inline-block;
  text-align: center;
}

.Social-description{
  margin: 0;
  color: var(--gray);
  font-size: 13px;
}

.Social-circle {
  color: var(--red);
}

.Social-icon {
  color: var(--white);
}

.fa-stack {
  margin: 0px;
  transition: all var(--swift-out);
}

.fa-stack:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.fa-stack:hover .Social-circle {
  color: var(--red-shadow);
}

.fa-stack:active {
  position: relative;
  top: 2px;
}
