@import '../variables.css';

.Sections {
  background-color: var(--gray-light);
  text-align: center;
}

.Sections-container {
  display: inline-block;
    max-width: var(--max-content-width);
}

.Sections-logo {
  color: var(--gray);
  font-weight: lighter;
  text-align: center;
  font-size: 36px;
}

.Sections-section {
  display: inline-block;
  width: 186px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  color: var(--white);
  padding-top: 30px;
  margin: 1px;
  transition: all var(--ease);
  cursor: pointer;
  box-shadow: inset 0px -5px 0px 0px rgba(0,0,0,0.15);
}

.Sections-section:hover {
  box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.15);
}

.Sections-section:active {
  box-shadow: inset 0px 5px 0px 0px rgba(0,0,0,0.15);
}

.Sections-section-logo {
  font-weight: 500;
}

.dark-green {
  background-color: #29bb9c;
}

.green {
  background-color: #39ca74;
}

.light-blue {
  background-color: #3a99d8;
}

.light-violet {
  background-color: #9a5cb4;
}

.yellow {
  background-color: #f0c330;
}

.orange {
  background-color: #e47e30;
}

.violet {
  background-color: #8d48ab;
}

.gray {
  background-color: #7f8c8d;
}

.blue {
  background-color: #2f81b7
}

.red {
  background-color: #cb3b3a;
}
