/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.Header {
  background: #fff;
  color: #000;
}

.Header-container {
  margin: 0 auto;
  padding: 20px 0;
  width: var(--max-content-width);
  display: table;
}

.Header-brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.Header-brandTxt {
  margin-left: 10px;
}

.Header-login,
.Header-user {
  float: right;
}

.Header-logo {
  float: left;
}

.Header-social,
.Header-localize {
  display: inline-block;
  margin-left: 45px;
}

.Header-localize {
  position: relative;
  bottom: 18px;
}

.Header-banner {
  text-align: center;
}

.Header-bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.Header-bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, .5);
  font-size: 1.25em;
  margin: 0;
}
