/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

:root {

  /*
   * Colors
   * ======================================================================== */

  --white-base:            hsl(255, 255, 255);
/*  --gray-darker:           color(black lightness(+13.5%)); /!* #222 *!/
  --gray-dark:             color(black lightness(+25%));   /!* #404040 *!/
  --gray:                  color(black lightness(+33.5%)); /!* #555 *!/
  --gray-light:            color(black lightness(+46.7%)); /!* #777 *!/
  --gray-lighter:          color(black lightness(+93.5%)); /!* #eee *!/*/
  --red:                   #cb3b3a;
  --red-shadow:            #b63534;
  --white:                 #fff;
  --gray:                  #666;
  --gray-cr:               #b3b3b3;
  --gray-light:            #f6f6f6;
  --gray-input:            #e6e6e6;
  --blue:                  #007fb7;
  --blue-menu:             #0d8bd1;
  --blue-menu-hover:       #0d80c1;


  /*
   * Typography
   * ======================================================================== */

  --font-family-base:      'Ubuntu';

  /*
   * Layout
   * ======================================================================== */

  --max-content-width:     940px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min:         480px;  /* Extra small screen / phone */
  --screen-sm-min:         768px;  /* Small screen / tablet */
  --screen-md-min:         992px;  /* Medium screen / desktop */
  --screen-lg-min:         1200px; /* Large screen / wide desktop */

  /*
   * Animations
   * ======================================================================== */

  --swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
  --ease:                  .20s ease;

}
