@import '../variables.css';

/*Sliders*/

.Carousel-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  max-width: 1200px;
}

.Carousel-slideContainer {
  position: relative;
  margin: 0;
  padding: 0;
  right: 0;
  height: 440px;
  width: 2400px;
  display: inline-block;
  transition: all var(--swift-out);
}

.Carousel-slideContainer.right {
  right: 1200px;
}

.Carousel-slide {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 440px;
  z-index: 1;
}

/*Controls*/

.Carousel-controlLeft, .Carousel-controlRight {
  position: absolute;
  top: 15%;
  z-index: 2;
  display: block;
  margin: 10%;
  width: 52px;
  height: 52px;
  background: #fff;
  color: var(--red);
  cursor: pointer;
  border-radius: 25px;
  box-shadow: inset #fff 0px 0px 0px 3px, inset var(--red) 0px 0px 0px 6px;
  text-align: center;
  line-height: 50px;
  transition: all var(--ease);
}

.Carousel-controlLeft:active, .Carousel-controlRight:active {
  top: 16%;
}

.Carousel-controlRight {
  right: 0;
}

.Carousel-controlLine {
  display: inline-block;
  background-color: var(--red);
  width: 15px;
  height: 3px;
  margin-left: 20px;
  border-radius: 100px;
  position: relative;
  transition: all var(--ease);
  box-shadow: none;
}

.Carousel-controlLeft.Carousel-controlLine-left {
  transform: rotate(45deg);
  top: 6px;
  left: -8px;
}

.Carousel-controlLeft.Carousel-controlLine-right {
  transform: rotate(-45deg);
  left: -8px;
  top: -53px;
}

.Carousel-controlLeft:hover .Carousel-controlLine-left{
  transform: rotate(225deg);
}

.Carousel-controlLeft:hover .Carousel-controlLine-right{
  transform: rotate(-225deg);
}

.Carousel-controlRight.Carousel-controlLine-left {
  transform: rotate(-45deg);
  top: 6px;
  left: -5px;
}

.Carousel-controlRight.Carousel-controlLine-right {
  transform: rotate(45deg);
  left: -5px;
  top: -53px;
}

.Carousel-controlLeft:hover .Carousel-controlLine-left,
.Carousel-controlRight:hover .Carousel-controlLine-right {
  transform: rotate(225deg);
}

.Carousel-controlLeft:hover .Carousel-controlLine-right,
.Carousel-controlRight:hover .Carousel-controlLine-left {
  transform: rotate(-225deg);
}

.Carousel-controlLeft:active .Carousel-controlLine-left,
.Carousel-controlRight:active .Carousel-controlLine-right {
  transform: rotate(315deg);
}

.Carousel-controlLeft:active .Carousel-controlLine-right,
.Carousel-controlRight:active .Carousel-controlLine-left {
  transform: rotate(-315deg);
}


/*Indicators*/

.Carousel-indicatorsContainer {
  text-align: center;
  font-size: 40px;
  line-height: 20px;
}

.Carousel-indicator {
  transition: all var(--ease);
  cursor: pointer;
  margin: 0 3px;
  color: var(--gray-light);
}

.Carousel-indicator:hover {
  color: var(--gray-cr);
}

.Carousel-indicator.active {
  color: var(--red);
}
