/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.Footer {
  background: var(--gray-light);
  color: #fff;
  height: 130px;
  font-size: 14px;
}

.Footer-container {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: var(--max-content-width);
  text-align: center;
}