@import '../variables.css';

.Teasers-logoQuestion {
  color: var(--gray);
  font-weight: lighter;
  text-align: center;
  font-size: 36px;
}

.Teasers-teasersContainer {
  margin-top: 40px;
}

.Teasers-teaser {
  display: inline-block;
  width: 150px;
  text-align: center;
  margin: 0 3px;
}

.Teasers-teaser-img {
  display: inline;
  margin-bottom: 30px;
}

.Teasers-teaser-logo {
  color: var(--gray);
}
