@import '../variables.css';

.Login-userField,
.Login-passwordField,
.Login-submitButton {
  display: inline-block;
}

.Login-userField,
.Login-passwordField {
  width: 130px;
  height: 26px;
  border: 1px solid #eeeeee;
  font-size: 10pt;
  padding-left: 10px;
}

.Login-submitButton {
  color: #fff;
  border: none;
  height: 30px;
  width: 30px;
  position: relative;
  top: -2px;
  background-color: var(--red);
  border-bottom: 5px solid var(--red-shadow);
}

.Login-helpers a {
  position: relative;
  top: 10px;
  text-decoration: none;
  color: var(--blue);
  font-size: 13px;
}

.Login-helpers a:hover {
  text-decoration: underline;
}

.Login-helpers_registration {
  margin-left: 15px;
}
